ul {
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: blue;
  }
  h1{
      margin-left: 550px;
  }
  p{
    margin-left: 400px;
  }
  button{
      margin-left: 580px;
      background-color: green;
      color: white;
  }
  table{
    margin-left: 400px;
  }